<nav class="navbar">
  <div class="logo flex-row-all-center" routerLink="/">
    <fa-icon [icon]="logoIcon"></fa-icon>
    Movies App
  </div>

  <div class="search-bar flex-row-all-center">
    <fa-icon [icon]="searchIcon"></fa-icon>
    <input type="text" class="search-bar--input" placeholder="Search for Movies" [(ngModel)]="movieName">
    <a routerLink="/home/{{movieName}}" (click)="movieName = ''" type="submit">Enter</a>
  </div>

  <div class="credits flex-column">
    <a (click)="globalservice.redirectToLink('https://www.linkedin.com/in/sumant-dusane/')">
      Sumant Dusane
      <img src="../../../assets/images/sumant.jpeg" alt="Sumant Dusane">
    </a>
  </div>

</nav>
