<nav class="navbar">
  <div class="logo flex-row-all-center" routerLink="/">
    <fa-icon [icon]="logoIcon"></fa-icon>
    Movies App
  </div>

  <div class="search-bar flex-row-all-center">
    <fa-icon [icon]="searchIcon"></fa-icon>
    <input type="text" class="search-bar--input" placeholder="Search for Movies">
  </div>

  <div class="credits flex-column">
    <a href="https://www.linkedin.com/in/sumant-dusane-8a10771a7">
      Sumant Dusane
      <img src="../../../assets/images/sumant.jpeg" alt="Sumant Dusane">
    </a>
  </div>

</nav>
