<div class="container flex-column">
  <ng-container *ngIf="!isLoading && !isEmpty">
    <h1 class="title-thin mt-2 mb-1">Watch Later</h1>
    <div class="movies__tiles">
      <app-watch-later-card *ngFor="let item of moviesData" [bundle]="item"></app-watch-later-card>
    </div>
  </ng-container>
  <ng-container *ngIf="!isLoading && isEmpty">
    <app-null-state class="mt-2" [source]="'Watch Later'" [statusCode]="500"></app-null-state>
  </ng-container>
  <ng-container *ngIf="isLoading">
    <div class="loader">
      <video loop autoplay>
        <source src="../.././../assets/images/spinner.webm" type="video/webm">
      </video>
      <h4>Please Wait Loading</h4>
    </div>
  </ng-container>
</div>
