<div class="container flex-column">
  <h1 class="title-thin mt-2 mb-1">Watch Later</h1>
  <ul class="flex-column">
    <li class="watch-later">
      <div class="watch-later__sr-no">
        <h2>{{10}}</h2>
        <img src="https://flxt.tmsimg.com/assets/p10406404_b1t_v9_aa.jpg" alt="{{'Sherlock Holmes: Lost Era'}}">
      </div>
      <div class="watch-later__name">{{'Sherlock Holmes: Lost Era'}}</div>
      <div class="watch-later__close">
        <button>
          <fa-icon [icon]="iconDelete"></fa-icon>
        </button>
      </div>
    </li>
  </ul>

</div>
