@import "../../../assets/mixin";

.card {
}


.sk{
  position: relative;
  gap: $gutter1_2;

  & div {
    overflow: hidden;
    position: relative;
    background-color: rgba(120, 120, 120, 0.4);

    &:after {
      @include sudo-fill(absolute, 0, 0, 0, 0);
      transform: translateX(-100%);
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0));
      animation: shimmer 2s infinite;
    }
  }

  &__img {
    height: 280px;
    width: 100%;
  }

  &__heading {
    height: 6px;
    width: calc(100% - 20px);
  }

  &__desc {
    height: 5px;
    width: calc(100% - 50px);
  }
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
