<div class="sidebar">
  <ul class="sidebar__content flex-column">
    <li class="flex-row" [routerLink]="['home']" [ngClass]="{'active': activeRoute === '/home'}">
      <fa-icon [icon]="iconExplore"></fa-icon>
      Explore
    </li>

    <li class="flex-row" [routerLink]="['watch-later']" [ngClass]="{'active': activeRoute === '/watch-later'}">
      <fa-icon [icon]="iconWatchLater"></fa-icon>
      Watch Later
    </li>

    <li class="flex-row" [ngClass]="{'active': activeRoute === '/favourites'}">
      <fa-icon [icon]="iconFavourites" style="color: gold"></fa-icon>
      Favourites
    </li>
  </ul>
</div>
