<div class="sidebar">
  <ul class="sidebar__content flex-column">

    <li class="flex-row" (click)="activeState(1)" [ngClass]="{'active': activeClass === 1}">
      <fa-icon [icon]="iconExplore"></fa-icon>
      Explore
    </li>

    <li class="flex-row" (click)="activeState(2)" [ngClass]="{'active': activeClass === 2}">
      <fa-icon [icon]="iconWatchLater"></fa-icon>
      Watch Later
    </li>

    <li class="flex-row" (click)="activeState(3)" [ngClass]="{'active': activeClass === 3}">
      <fa-icon [icon]="iconFavourites" style="color: gold"></fa-icon>
      Favourites
    </li>

  </ul>

</div>
