.title-thin {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: $font-weight300;
}

.btn-primary {
  color: $white;
  background-color: $pink;
  border-radius: $border-radius-normal;
  padding: $gutter1_2 $gutter;
  transition: $transition-in-out;

  &:hover {
    background-color: lighten($color: $pink, $amount: 8);
    transition: $transition-in-out;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    background-color: darken($pink, 10);
  }
}

.movies__tiles {
  @include grid-layout(repeat(2, 1fr), repeat(5, 1fr));
  gap: $gutter2x $gutter20;
  margin-top: $gutter20;
}

.pill {
  padding: $gutter1_4 $gutter;
  background-color: brown;
  font-size: $font-size-xxs;

  &:not(:first-child) {
    margin-left: $gutter;
  }
}

.modal {
  @include element-position(absolute, 0, 0, 0, 0);
  display: flex;

  &-backdrop {
    @include element-position(absolute, 0, 0, 0, 0);
    background-color: transparentize($color: $black, $amount: 0.5);
    z-index: $z-index-xxs;
  }

  &-dialog {
    display: flex;
    width: calc(100% - $gutter2x);
    height: calc(100% - $gutter4x);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-self: center;
    z-index: $z-index-l;
    margin: 0 auto;
    padding: $gutter;
    background: $black;
    border-radius: $border-radius-medium;
    gap: $gutter;
  }

  &-header {
    display: flex;
    justify-content: space-between;
    text-align: start;
    width: 100%;

    .close-modal {
      font-size: $font-size-sm;
    }
  }

  &-body {
    width: 100%;
    height: 100%;

    iframe {
      overflow: hidden;
      width: 100%;
      height: 100%;
    }
  }
}

.container {
  position: relative;
  margin-left: 16%;
  margin-top: 80px;
  padding: $gutter $gutter2x;
}

.mt-2 {
  margin-top: $gutter2x;
}

.mb-1 {
  margin-bottom: $gutter;
}

.clamp-1 {
  display: block;
  overflow: hidden;
  max-width: 100%;
  text-overflow: -o-ellipsis-lastline;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
