.title-thin {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: $font-weight300;
}

.container {
  margin: $gutter $gutter3x;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
